@font-face {
    font-family: Sarbaz;
    src: url('../fonts/Sarbaz.ttf');
}

@font-face {
    font-family: BYekan;
    src: url('../fonts/Yekan.ttf')
}

@font-face {
    font-family: IranYekan;
    src: url('../fonts/iranyekanwebbold.woff2')
}

.fontIranYekan {
    font-family: IranYekan;
}

.fontSarbaz {
    font-family: Sarbaz;
}
